#adb_settings {
	background:white;
	margin:20px;
	padding:30px;
	width:500px;
	text-align:center;
	float:left;
}

#adb_settings table {
	margin:0 auto;
	text-align:left;
}

#adb_settings td {
	padding:20px;
}

.side {
	float:left;
	width:280px
}

.inner_side {
	width:250px;
	text-align:center;
	padding:15px;
	margin-top:20px;
	background:white;
}

.il {
	width:290px;
}

.inner_side p {
	text-align:justify;
}