@charset "utf-8";
/* CSS Document */

html, body {
	height:100% !important;
	overflow:hidden !important;
}

.adb_overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.70);
	z-index: 999999;
	color: white;
	overflow: hidden;
}

.adb_modal {
	width: 500px;
	padding: 40px 0;
	background: white;
	color: black;
	border-radius: 2px;
	border: 1px solid rgb(99, 99, 99);
	margin: 100px auto;
	text-align: center;
	box-shadow: 2px 2px 10px black;
}

.adb_detected {
	font-weight: bold;
	font-size: 20px;
	color: red;
}

.adb_message {
	font-size:18px;
	padding:0 40px;
	text-align:justify;
}

.adb_modal_img {
	text-align:center;
}

.adb_modal_img img {
	margin: auto;
 	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
}